#mignon-container {
	margin: 10px;
}

#mignon-header {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
	background: linear-gradient(30deg, indigo, red, pink, blue, transparent);
}

.mignon-header-links {
	margin-left: auto;
}

#mignon-sidebar {
	display: none;
}

#mignon-logo {
	width: 10%;
}
#mignon-logo img {
	width: 100%;
}

#mignon-body {
	margin-top: 10px;
}

#mignon-slider{
	display: flex;
	gap: 20px;
	width: 100%;
	margin-top: 10px;
}

#mignon-slider div{
	background: lightgray;
}

.mignon-intro-sentences, .mignon-rules-usage, .mignon-parts-of-body {
	width: 33%;

}